---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <section
    class="bg-black text-white min-h-screen flex items-center justify-center relative"
  >
    <!-- overlay -->
    <div
      class="absolute top-0 left-0 w-full h-1/5 bg-gradient-to-b from-[#1a1312] to-transparent"
    >
    </div>
    <div
      class="absolute bottom-0 left-0 w-full h-1/5 bg-gradient-to-t from-[#1a1312] to-transparent"
    >
    </div>
    <!-- overlay end -->
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center">
        <h1 class="mb-4 text-4xl tracking-widest font-extrabold lg:text-9xl">
          Error 404
        </h1>
        <p
          class="mb-4 text-3xl tracking-tight font-bold text-gray-200 md:text-4xl"
        >
          Stranica nije pronađena.
        </p>
        <p class="mb-4 text-lg font-light text-gray-300">
          Provjerite URL ili se vratite na početnu stranicu.
        </p>
        <a href="/" class="font-medium text-md px-5 py-2.5 my-4 text-red-500"
          >Povratak na naslovnicu Wonderink</a
        >
      </div>
    </div>
  </section>
</Layout>
