---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <div class="min-h-screen bg-black text-white py-12 px-6">
    <div class="max-w-7xl mx-auto">
      <h2 class="text-4xl font-bold text-center my-20 text-gray-100">Cjenik</h2>

      <!-- Grid Container -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-20">
        <!-- Tattoo Card -->
        <div
          class="relative bg-cover bg-center group neon-box-blue min-h-[700px]"
          style="background-image: url('/tatto.jpg');"
        >
          <div
            class="absolute inset-0 bg-black opacity-60 group-hover:opacity-80 transition duration-300 rounded-lg"
          >
          </div>
          <div
            class="absolute inset-0 flex flex-col justify-center items-center text-center p-6"
          >
            <h3 class="text-3xl font-bold mb-4">Tattoo</h3>
            <p class="text-gray-200">
              Cijena tetovaže ovisi o veličini, detaljima i kompleksnosti
              dizajna.
            </p>
            <p class="mt-2 text-gray-300">
              Za procjenu ispuni <a
                href="/kontakt#formular"
                class="text-red-500">formular</a
              >.
            </p>
          </div>
        </div>

        <!-- Barber Card -->
        <div
          class="relative bg-cover bg-center group neon-box-green min-h-[700px]"
          style="background-image: url('barber.jpg');"
        >
          <div
            class="absolute inset-0 bg-black opacity-60 group-hover:opacity-80 transition duration-300 rounded-lg"
          >
          </div>
          <div
            class="absolute inset-0 flex flex-col justify-center items-center text-center p-6"
          >
            <h3 class="text-3xl font-bold mb-4">Barber</h3>
            <ul class="text-gray-200 space-y-2">
              <li>Šišanje - <span class="text-red-500">15€</span></li>
              <li>Šišanje i brada - <span class="text-red-500">20€</span></li>
              <li>Fade šišanje - <span class="text-red-500">20€</span></li>
              <li>
                Fade šišanje i uređivanje brade - <span class="text-red-500"
                  >25€</span
                >
              </li>
              <li>Uređivanje brade - <span class="text-red-500">10€</span></li>
              <li>
                Šišanje mašinicom na nulu - <span class="text-red-500">10€</span
                >
              </li>
            </ul>
          </div>
        </div>

        <!-- Piercing Card -->
        <div
          class="relative bg-cover bg-center group neon-box-pink min-h-[700px]"
          style="background-image: url('/piercer.jpg');"
        >
          <div
            class="absolute inset-0 bg-black opacity-60 group-hover:opacity-80 transition duration-300 rounded-lg"
          >
          </div>
          <div
            class="absolute inset-0 flex flex-col justify-center items-center text-center p-6"
          >
            <h3 class="text-3xl font-bold mb-4">Piercing</h3>
            <ul class="text-gray-200 space-y-2">
              <h3>UHO</h3>
              <li>Resica - <span class="text-red-500">40€</span></li>
              <li>
                Helix/foward helix - <span class="text-red-500">50€</span>
              </li>
              <li>Conch - <span class="text-red-500">50€</span></li>
              <li>Tragus/antitragus - <span class="text-red-500">50€</span></li>
              <li>Rook - <span class="text-red-500">50€</span></li>
              <li>Daith - <span class="text-red-500">50€</span></li>
              <li>Snug - <span class="text-red-500">50€</span></li>
              <li>Flat - <span class="text-red-500">50€</span></li>
              <li>Industrial - <span class="text-red-500">70€</span></li>
              <h3>LICE</h3>
              <li>Obrva - <span class="text-red-500">50€</span></li>
              <li>Nos - <span class="text-red-500">50€</span></li>
              <li>
                Usna(monroe, labret, medusa, vertical labret) - <span
                  class="text-red-500">50€</span
                >
              </li>
              <li>Bridge - <span class="text-red-500">50€</span></li>
              <li>
                Nos/usna simetrija (jedan piercing koji treba pozicionirati
                simetrično sa već postojećim piercingom) - <span
                  class="text-red-500">60€</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
