---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <div class="min-h-screen bg-black py-12 px-6 relative">
    <!-- overlay -->
    <div
      class="absolute top-0 left-0 w-full h-1/5 bg-gradient-to-b from-[#1a1312] to-transparent"
    >
    </div>
    <div
      class="absolute bottom-0 left-0 w-full h-1/5 bg-gradient-to-t from-[#1a1312] to-transparent"
    >
    </div>
    <!-- overlay end -->
    <div class="max-w-7xl mx-auto mb-12 scroll-animation">
      <h2 class="text-3xl tracking-wider sm:text-5xl text-center my-20">
        ČESTA PITANJA
      </h2>
      <div
        class="neon-box-green relative w-full px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-700 sm:rounded-lg sm:px-10 my-12"
      >
        <div class="text-center scroll-animation">
          <p class="text-lg">Odgovori na najčešće postavljana pitanja</p>
        </div>

        <div class="mt-8 space-y-6 divide-y divide-gray-700">
          <!-- Pitanje 1 -->
          <details class="group">
            <summary
              class="flex cursor-pointer items-center justify-between text-lg font-medium py-4"
            >
              <span>Kako se mogu naručiti?</span>
              <span class="transition group-open:rotate-180">
                <svg
                  class="w-6 h-6 text-red-500"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                >
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </summary>
            <div class="mt-2 space-y-2">
              <p>
                <strong>TATTOO - DEA:</strong> Isključivo putem maila:
                <a
                  href="mailto:wonderink.tattoo@gmail.com"
                  class="text-red-500 hover:underline"
                  >wonderink.tattoo@gmail.com</a
                >
              </p>
              <p>
                <strong>TATTOO - SAŠA:</strong> Pozivom na
                <a href="tel:+385995557000" class="text-red-500 hover:underline"
                  >0995557000</a
                > ili porukom na
                <a
                  href="https://wa.me/+385995557000"
                  class="text-red-500 hover:underline">WhatsApp</a
                >
              </p>
              <p>
                <strong>PIERCING:</strong> Pozivom na
                <a href="tel:+385995279697" class="text-red-500 hover:underline"
                  >0995279697</a
                > ili porukom na
                <a
                  href="https://wa.me/+385995279697"
                  class="text-red-500 hover:underline">WhatsApp</a
                >
              </p>
              <p>
                <strong>BARBER:</strong> Pozivom na
                <a href="tel:+385995470402" class="text-red-500 hover:underline"
                  >0995470402</a
                > ili porukom na
                <a
                  href="https://wa.me/+385995470402"
                  class="text-red-500 hover:underline">WhatsApp</a
                >
              </p>
            </div>
          </details>

          <!-- Pitanje 2 -->
          <details class="group">
            <summary
              class="flex cursor-pointer items-center justify-between text-lg font-medium text-white py-4"
            >
              <span>Koje su cijene usluga?</span>
              <span class="transition group-open:rotate-180">
                <svg
                  class="w-6 h-6 text-red-500"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                >
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </summary>
            <div class="mt-2">
              <p>
                - <strong>TATTOO</strong> - Početna cijena tetoviranja je 80€
              </p>
              <p>
                Za procjenu cijene ispunite
                <a href="/kontakt#formular" class="text-red-500 hover:underline"
                  >formular</a
                >
              </p>
              <p>
                Postoji puno faktora u određivanju cijene tetovaža: veličina,
                pozicija na tijelu, kompleksnost izvedbe, izrada dizajna i sl.
                Stoga je zaista potrebno ispuniti formular kako bismo uzeli u
                obzir sve stavke i dali vam točan iznos cijene vaše željene
                tetovaže.
              </p>
              <p>
                - <strong>PIERCING & BARBER</strong> - Pogledajte naš
                <a href="/cjenik" class="text-red-500 hover:underline">cjenik</a
                >
              </p>
            </div>
          </details>

          <!-- Pitanje 3 -->
          <details class="group">
            <summary
              class="flex cursor-pointer items-center justify-between text-lg font-medium text-white py-4"
            >
              <span>Što moram znati prije termina za tetoviranje?</span>
              <span class="transition group-open:rotate-180">
                <svg
                  class="w-6 h-6 text-red-500"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                >
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </summary>
            <ul class="mt-2">
              <li>
                - tjedan dana prije termina preporučamo da napraviš piling na
                dijelu tijela kojeg ćemo tetovirati, to područje također bi
                trebao/la mazati hidratantnom kremom svaki dan te povećati unos
                vode u svoj organizam
              </li>
              <li>
                - 48 sati prije tetoviranja nije dozvoljeno piti alkohol i
                koristiti bilo kakva opojna sredstva
              </li>
              <li>
                - veoma je bitno da se noć prije tetotviranja dobro naspavaš i
                dodeš odmoran/na
              </li>
              <li>
                - 2-3 sata prije termina potrebno je pojesti kvalitetan obrok
              </li>
            </ul>
          </details>

          <!-- Pitanje 4 -->
          <details class="group">
            <summary
              class="flex cursor-pointer items-center justify-between text-lg font-medium text-white py-4"
            >
              <span>Moram li se naručiti za konzultacije?</span>
              <span class="transition group-open:rotate-180">
                <svg
                  class="w-6 h-6 text-red-500"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                >
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </summary>
            <p class="mt-2">
              Da, bilo da su za konzultacije ili sami termin, ne najavljeni
              dolasci nisu mogući, slanjem upita na mail ili pozivom na broj <a
                href="tel:+385997589079"
                class="text-red-500 hover:underline">0997589079</a
              > možete se naručiti na konzultacije.
            </p>
          </details>

          <!-- Pitanje 5 -->
          <details class="group">
            <summary
              class="flex cursor-pointer items-center justify-between text-lg font-medium text-white py-4"
            >
              <span>Boli li tetoviranje/pirsanje?</span>
              <span class="transition group-open:rotate-180">
                <svg
                  class="w-6 h-6 text-red-500"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                >
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </summary>
            <p class="mt-2">
              Bol ovisi o dijelu tijela koje se pirsa/tetovira. Važno je
              napomenuti da svatko od nas ima različitu toleranciju boli i samim
              time se ne može objektivno odgovoriti kolika je razina boli za
              svaku osobu tolerantna.
            </p>
          </details>

          <details class="group">
            <summary
              class="flex cursor-pointer items-center justify-between text-lg font-medium text-white py-4"
            >
              <span>Mogu li se tetovirati trudnice ili dojilje?</span>
              <span class="transition group-open:rotate-180">
                <svg
                  class="w-6 h-6 text-red-500"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                >
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </summary>
            <p class="mt-2">
              Trudnice i dojilje ne tetoviramo. Smatramo da se tijelo buduće
              majke treba fokusirati na razvoj djeteta te da je zarastanje
              tetovaže nepotreban napor za tijelo u tom periodu. Zdravlje
              djeteta i majke je na prvom mjestu i treba izbjegavati bilo kakvu
              mogućnost komplikacija u tom periodu.
            </p>
          </details>

          <details class="group">
            <summary
              class="flex cursor-pointer items-center justify-between text-lg font-medium text-white py-4"
            >
              <span>Mogu li se tetovirati/pirsati maloljetnici?</span>
              <span class="transition group-open:rotate-180">
                <svg
                  class="w-6 h-6 text-red-500"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                >
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </summary>
            <p class="mt-2">
              U našem studiju ne tetoviramo maloljetnike. Pirsati se mogu djeca
              od 10-te dobi (samo za ušne resice) te maloljentici od 15-te
              godine uz obavezno prisustvo i pismenu dozvolu roditelja ili
              skrbnika.
            </p>
          </details>

          <details class="group">
            <summary
              class="flex cursor-pointer items-center justify-between text-lg font-medium text-white py-4"
            >
              <span>Aftercare tattoo/pirsing?</span>
              <span class="transition group-open:rotate-180">
                <svg
                  class="w-6 h-6 text-red-500"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                >
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </summary>
            <p class="mt-2">
              Pri završetku termina, tattoo majstor ili pirser detaljno će vam
              usmenim putem objasniti sve što trebate znati i raditi sa svojom
              novom tetovažom i pirsingom. Upute ćete dobiti i u pismenom
              obliku. Veoma je bitno pridržavati se uputa koje ste dobili kako
              ne bi došlo do komplikacija prilikom zarastanja kože.
            </p>
          </details>

          <details class="group">
            <summary
              class="flex cursor-pointer items-center justify-between text-lg font-medium text-white py-4"
            >
              <span>Koji je pravilnik salona?</span>
              <span class="transition group-open:rotate-180">
                <svg
                  class="w-6 h-6 text-red-500"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                >
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </summary>
            <ol class="mt-2">
              <li>
                1. Strogo je zabranjen ulaz djeci mlađoj od 16 godina u tattoo
                studio. Nema iznimaka! Vrijedi i za konzultacije, upite i sve
                ostalo.
              </li>
              <li>
                2. Ukoliko ste uranili, pričekajte. U redu je ako želite doći
                ranije, no morat ćete čekati izvan salona, molimo vas da ne
                kucate i ne ometate rad prije vašeg zakazanog termina!
              </li>
              <li>
                3. Pratnja. Na zakazani termin možete dovesti jednu osobu kao
                pratnju koja ne smije ni na koji način ometati rad.
              </li>
            </ol>
          </details>
        </div>
      </div>
    </div>
  </div>
</Layout>
