<div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
  <div
    class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
    aria-hidden="true"
  >
    <div
      class="aspect-1097/845 w-[68.5625rem] bg-linear-to-tr from-[#c83270] to-[#3c35c6] opacity-25"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>
  <div
    class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"
    aria-hidden="true"
  >
    <div
      class="aspect-1097/845 w-[68.5625rem] bg-linear-to-tr from-[#c83270] to-[#3c35c6] opacity-25"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>
  <div class="mx-auto px-6 lg:px-8 container">
    <div class="mx-auto lg:mx-0">
      <h2
        class="fade-in text-2xl font-normal tracking-wider text-white sm:text-5xl text-center pb-5"
      >
        o nama
      </h2>
      <p
        class="fade-in mt-8 text-center text-md font-medium text-pretty text-gray-300 sm:text-xl/8"
      >
        WONDERINK je prvobitno otvoren kao tattoo studio 2018 godine u Velikoj
        Gorici sa jednom članicom, tako je bilo sve do početka 2023 godine kada
        su se timu pridružili novi članovi i sa njima nove usluge u ponudi.
        Wonderink je danas TATTOO, PIERCING & BARBER SHOP sa 4 člana u timu.
        Upoznaj nas i postani dio naše priče!
      </p>
    </div>
    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none text-center">
      <dl
        class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4"
      >
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-base/7 text-gray-300">Napravljenih tetovaža</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">50+</dd>
        </div>
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-base/7 text-gray-300">Uspješnih pierceva</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">300+</dd>
        </div>
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-base/7 text-gray-300">Uređenih frizura i brkova</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">200+</dd>
        </div>
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-base/7 text-gray-300">Zadovoljnih korisnika</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">
            &infin;
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
<style>
  h2 {
    font-family: "Cinzel Decorative", "serif";
  }
</style>
