---
import { Image } from "astro:assets"
import HeroImg from "../assets/images/hero.webp"
import HeroImgSmall from "../assets/images/hero-small.jpg"
import { Camera } from "lucide-react"
---

<section
  class="relative w-full overflow-hidden flex items-center justify-center max-h-screen"
>
  <Image
    src={HeroImg}
    alt="Tattoo, Piercing i Barber Shop usluge"
    width={2500}
    height={1667}
    class="object-cover w-full h-full hidden md:block"
    loading="eager"
    fetchpriority="high"
  />
  <Image
    src={HeroImgSmall}
    alt="Tattoo, Piercing i Barber Shop usluge"
    width={1907}
    height={1667}
    class="object-cover w-full h-full block md:hidden"
    loading="eager"
    fetchpriority="high"
  />
  <div class="absolute bottom-1 xl:bottom-6 right-5 flex items-center z-50">
    <Camera className="inline pr-2 h-5 w-5 md:h-6 md:w-6" />
    <span class="text-xs lg:text-sm">Jeffrey Jemrić</span>
  </div>
  <!-- Gradient Overlay -->
  <div
    class="absolute bottom-0 left-0 w-full h-1/5 bg-gradient-to-t from-[#1a1312] to-transparent"
  >
  </div>

  <div
    class="absolute top-0 left-0 w-full h-1/5 bg-gradient-to-b from-[#1a1312] to-transparent"
  >
  </div>

  <div
    class="zoom-in absolute inset-x-0 bottom-[20%] flex items-center justify-center"
  >
    <a
      href="/kontakt"
      class="bg-transparent border-2 border-white font-bold py-2 px-6 transition-all duration-300 transform hover:bg-white hover:border-white hover:text-black hover:scale-105 tracking-wider text-[10px] sm:text-lg lg:text-xl lg:py-4 lg:px-12"
    >
      KONTAKT
    </a>
  </div>
</section>
