---
import { Image } from "astro:assets"
import HeroImg from "../assets/images/hero.webp"
import HeroImgSmall from "../assets/images/hero-small.jpg"
---

<section
  class="relative w-full overflow-hidden flex items-center justify-center bg-gray-900 max-h-screen"
>
  <Image
    src={HeroImg}
    alt="Tattoo, Piercing i Barber Shop usluge"
    width={2500}
    height={1667}
    class="object-cover w-full h-full hidden md:block"
  />
  <Image
    src={HeroImgSmall}
    alt="Tattoo, Piercing i Barber Shop usluge"
    width={1907}
    height={1667}
    class="object-cover w-full h-full block md:hidden"
  />

  <!-- Gradient Overlay -->
  <div
    class="absolute bottom-0 left-0 w-full h-1/5 bg-gradient-to-t from-gray-900 to-transparent"
  >
  </div>

  <div
    class="zoom-in absolute inset-x-0 bottom-[20%] flex items-center justify-center"
  >
    <button
      class="bg-transparent border-2 border-white text-white font-bold py-2 px-6 transition-all duration-300 transform hover:bg-white hover:border-white hover:text-black hover:scale-105 tracking-wider text-[10px] sm:text-lg lg:text-xl lg:py-4 lg:px-12"
    >
      KONTAKT
    </button>
  </div>
</section>
