<div>
  <div class="neon-box-green p-8 rounded-lg shadow-lg bg-black mb-8">
    <h3 class="text-2xl font-bold mb-6">KONTAKT</h3>

    <div class="mb-8">
      <h4 class="text-xl font-medium mb-4">Adresa</h4>
      <p class="text-gray-300">Zagrebačka 6</p>
      <p class="text-gray-300">10410 Velika Gorica, Hrvatska</p>
    </div>

    <div class="mb-8">
      <h4 class="text-xl font-medium mb-4">Radno vrijeme</h4>
      <p class="text-gray-300">Ponedjeljak - Petak: 10:00 - 20:00</p>
      <p class="text-gray-300">Subota: 12:00 - 18:00</p>
      <p class="text-gray-300">Po dogovoru</p>
    </div>

    <div class="mb-8">
      <h4 class="text-xl font-medium mb-4">Naš tim</h4>

      <div class="grid gird-cols-1 md:grid-cols-2 gap-8">
        <div class="mb-4">
          <p class="font-semibold text-green-500">Dea</p>
          <p class="text-gray-300">Tattoo</p>
          <p class="text-gray-300">wonderink.tattoo@gmail.com</p>
          <p class="text-gray-300">+385 99 758 9079</p>
        </div>

        <div class="mb-4">
          <p class="font-semibold text-green-500">Saša</p>
          <p class="text-gray-300">Tattoo</p>
          <p class="text-gray-300">+385 99 555 7000</p>
          <p class="text-gray-300">Whatsapp</p>
        </div>

        <div class="mb-4">
          <p class="font-semibold text-green-500">Tina</p>
          <p class="text-gray-300">Piercer</p>
          <p class="text-gray-300">+385 527 9697</p>
          <p class="text-gray-300">Whatsapp</p>
        </div>

        <div class="mb-4">
          <p class="font-semibold text-green-500">Luka</p>
          <p class="text-gray-300">Barber</p>
          <p class="text-gray-300">+385 99 547 0402</p>
          <p class="text-gray-300">Whatsapp</p>
        </div>
      </div>
    </div>
  </div>
</div>
