<div
  class="relative isolate overflow-hidden bg-gradient-to-b from-black to-[#1a1312] py-16 sm:py-24"
>
  <div
    class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
    aria-hidden="true"
  >
    <div
      class="aspect-1097/845 w-[68.5625rem] bg-linear-to-tr from-gray-400 to-gray-800 opacity-25"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>
  <div
    class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"
    aria-hidden="true"
  >
    <div
      class="aspect-1097/845 w-[68.5625rem] bg-linear-to-tr from-gray-400 to-gray-800 opacity-25"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>
  <div class="mx-auto px-6 lg:px-8 container scroll-animation">
    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none text-center">
      <dl
        class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4"
      >
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-base/7 text-gray-300">Napravljenih tetovaža</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">
            5000+
          </dd>
        </div>
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-base/7 text-gray-300">Uspješnih pierceva</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">
            1000+
          </dd>
        </div>
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-base/7 text-gray-300">Uređenih frizura i brkova</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">
            7000+
          </dd>
        </div>
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-base/7 text-gray-300">Zadovoljnih korisnika</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">
            &infin;
          </dd>
        </div>
      </dl>
    </div>
  </div>
  <div class="logos text-lg text-gray-300 md:text-2xl lg:text-3xl xl:text-5xl">
    <div class="logos-slide">
      <span>Gloria</span>
      <span>Cosmopolitan</span>
      <span>HRT 2</span>
      <span>Enter Zagreb</span>
      <span>VG Danas</span>
      <span>Cityportal</span>
      <span>eMeđimurje</span>
      <span>poslovniFM</span>
    </div>
    <div class="logos-slide">
      <span>Gloria</span>
      <span>Cosmopolitan</span>
      <span>HRT 2</span>
      <span>Enter Zagreb</span>
      <span>VG Danas</span>
      <span>Cityportal</span>
      <span>eMeđimurje</span>
      <span>poslovniFM</span>
    </div>
  </div>
</div>
<style>
  h2,
  span {
    font-family: "Cinzel Decorative", "serif";
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .logos {
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 30px;
    white-space: nowrap;
    position: relative;
    margin-right: 2px;
  }

  .logos:hover .logos-slide {
    animation-play-state: paused;
  }

  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 45px;
    height: 100%;
    content: "";
    z-index: 2;
  }

  .logos:before {
    left: 0;
    background: linear-gradient(
      to left,
      rgba(26, 19, 18, 0),
      rgba(26, 19, 18, 1)
    );
  }

  .logos:after {
    right: 0;
    background: linear-gradient(
      to right,
      rgba(26, 19, 18, 0),
      rgba(26, 19, 18, 1)
    );
  }

  .logos-slide {
    animation: 28s slide infinite linear;
    display: inline-block;
  }

  .logos-slide span {
    display: inline-block;
    margin: 0 20px;
  }

  @media (min-width: 1200px) {
    .logos-slide span {
      margin: 0 30px;
    }
  }
</style>
