<div class="logos text-6xl text-red-500">
  <div class="logos-slide">
    <span>Gloria</span>
    <span>Cosmopolitan</span>
    <span>HRT 2</span>
    <span>Enter Zagreb</span>
    <span>VG Danas</span>
    <span>Cityportal</span>
    <span>eMeđimurje</span>
    <span>poslovniFM</span>
  </div>
  <div class="logos-slide">
    <span>Gloria</span>
    <span>Cosmopolitan</span>
    <span>HRT 2</span>
    <span>Enter Zagreb</span>
    <span>VG Danas</span>
    <span>Cityportal</span>
    <span>eMeđimurje</span>
    <span>poslovniFM</span>
  </div>
</div>

<style>
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: inherit;
    white-space: nowrap;
    position: relative;
    margin-right: 2px;
  }

  .logos:hover .logos-slide {
    animation-play-state: paused;
  }

  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }

  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(26, 19, 18, 0.5), black);
  }

  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(26, 19, 18, 0.5), black);
  }

  .logos-slide {
    animation: 25s slide infinite linear;
    display: inline-block;
  }

  .logos-slide span {
    padding: 0 20px;
    display: inline-block;
  }
</style>
