---
import { Toaster } from "@/components/ui/sonner"
import Footer from "../components/Footer.astro"
import Navbar from "../components/Navbar.astro"
import "../styles/global.css"
---

<!doctype html>
<html lang="hr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" href="/favicon32.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="/favicon16.png" sizes="16x16" type="image/png" />
    <link rel="apple-touch-icon" href="/favicon180.png" sizes="180x180" />
    <link
      rel="icon"
      href="/favicon128.ico"
      sizes="128x128"
      type="image/x-icon"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="weblifesupport.com" />
    <meta
      name="description"
      content="Tetoviranje, piercing i barber usluge u Velikoj Gorici. Studio Wonderink - kvaliteta i individualnost na prvom mjestu."
    />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>Wonderink - tattoo, piercing & barber</title>
  </head>
  <body class="bg-[#1a1312]">
    <div>
      <Navbar />
      <Toaster client:load />
      <slot />
      <Footer />
    </div>
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const scrollElements = document.querySelectorAll(".scroll-animation")

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("scroll-animated")
          }
        })
      },
      { threshold: 0.1 }
    )

    scrollElements.forEach((el) => observer.observe(el))
  })
</script>
